.cards .card {
  border-radius: 0px !important; }

.cards-border {
  border: 1px solid #3292a6; }

.cards-background {
  background-color: #3292a6;
  border: 1px solid #3292a6;
  color: white; }

.accordion-header {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 25px;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) -3px 3px 4px -3px, rgba(0, 0, 0, 0.3) 3px 2px 5px -3px;
  cursor: pointer;
  position: relative; }

.accordion-body {
  background-color: white;
  padding: 20px; }

.transition-on-accordion {
  transition: 0.8s; }

#about .accordion-header:not(.collapsed) {
  background-color: lightslategray;
  box-shadow: none;
  color: white; }

.accordion-header::before {
  font-family: FontAwesome;
  content: "\f118";
  position: absolute;
  right: 20px;
  color: black; }

.accordion-header.collapsed::before {
  content: '\f119'; }

.nav-link {
  font-size: 23px;
  color: #160f0f; }

.navs {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9; }

#home {
  min-height: 600px; }
  #home .img-1 {
    background-image: url("../image/pexels-francesco-ungaro-2325447.jpg");
    min-height: 600px;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat; }
  #home .img-2 {
    background-image: url("../image/pexels-kaboompics-com-5836.jpg");
    min-height: 600px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; }
  #home .img-3 {
    background-image: url("../image/pexels-moose-photos-1037992.jpg");
    min-height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #home .btn-item-1 {
    border-radius: 0px !important; }
  #home .carousel-overlay-1 {
    background: rgba(23, 113, 129, 0.5);
    min-height: 600px; }
  #home .carousel-overlay-2 {
    background: rgba(46, 8, 5, 0.3);
    min-height: 600px; }
  #home .carousel-overlay-3 {
    background: rgba(211, 76, 155, 0.4);
    min-height: 600px; }
  #home .home-inner {
    padding-top: 88px; }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.navbutton:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border: 0px !important; }

.form-controls-edit, .form-controls-edit-1 {
  border-radius: 0px !important;
  padding: 25px !important; }

.form-controls-edit::placeholder {
  font-size: 20px; }

.form-controls-edit-1 {
  font-size: 20px;
  background-color: #3292a6;
  color: white;
  overflow: hidden;
  position: relative;
  border: 1px solid #0f4955;
  transition: 0.4s; }

.form-controls-edit-1:hover {
  background-color: #0f4955;
  border-color: #0f4955; }

.registration {
  background-color: #212529; }

#meet .card {
  border-radius: 0px !important; }

#meet img {
  margin-top: -50px; }

#meet i {
  font-size: 25px;
  color: #3292a6; }

#meet .author-item {
  overflow: hidden; }

#meet .card-body h3 {
  position: relative;
  z-index: 1;
  border-radius: 10px; }

#meet .card-body h3::before {
  position: absolute;
  content: '';
  width: 120%;
  height: 100%;
  transform: translateX(-100%);
  background-color: yellow;
  transition: 1s ease;
  z-index: -1;
  opacity: 0;
  left: -50px; }

#meet .card:hover .card-body h3::before {
  transform: translateX(0%);
  opacity: 1; }

#meet .card-body h5 {
  position: relative;
  z-index: 1;
  border-radius: 10px; }

#meet .card-body h5::before {
  position: absolute;
  content: '';
  width: 120%;
  height: 100%;
  transform: translateX(100%);
  background-color: #e93e77;
  transition: 1s ease;
  z-index: -1;
  opacity: 0;
  right: -50px; }

#meet .card:hover h5 {
  color: white; }

#meet .card:hover .card-body h5::before {
  transform: translateX(0%);
  opacity: 1; }

.form-controls-edit-1 span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(10px, 10px); }

.owl-theme .owl-dots .owl-dot.active span {
  background: #dd2b49 !important; }

.owl-theme .owl-dots span {
  border: 2px solid #dd2d4b;
  background: none !important; }

@media only screen and (max-width: 992px) {
  .home-inner {
    padding-top: 83px !important; } }

@media only screen and (max-width: 768px) {
  #home .carousel-indicators {
    margin-bottom: 0px !important; }
  #meet .card-body h5::before {
    right: -125px; }
  #meet .card-body h3::before {
    left: -100px; } }

@media only screen and (max-width: 576px) {
  .display-1 {
    font-size: 60px !important; } }
